/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    /* color palette */
    --nav_links:white;
    --login_button:white;
    --header_text:white;
    --download_button_page_top:white;
    --open_discord_button:#23272A;
    --main_headings:#23272A;
    --main_text:#595C5E;
    --download_button_page_bottom:#8EA1E1;
    --footer_heading:#7289DA;
    --first_child_footer_links:#6E83CF;
    --registration_button:#8EA1E1;
    /*** /color palette ***/
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
}

.principal_block{
    width: 1200px;
    /* height: 600px;
    background-color: #6E83CF; */
    margin: auto;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}
/*** /general rules ***/

/* site_header properties */
#site_header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

#site_navbar{
   padding-top: 1.4rem;
   padding-bottom: 1.4rem;
   font-size: 0.8rem;
    
}

#nav_logo, 
#nav_login{
    width: 20%;
}

#nav_center{
    width: 60%;
    text-align: center;
}


#nav_links,
#nav_login{
    line-height: 34px;
}

#nav_center a{
    margin-left: 2rem;
    color: var(--nav_links);
}

#nav_login button{
    border: none;
    padding: 0.6rem 0.8rem;
    border-radius: 1.5rem;
}

#header_main{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 9rem;
    padding-bottom: 10rem;
    color: var(--header_text);
}

#header_main button{
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 1.5rem;
    
}

#header_main h1{
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

#header_main p{
    margin-bottom: 1.2rem;
    line-height: 1.6rem;
    
}

#download_page_top{
    margin-right: 1.2rem;
    background-color: var(--download_button_page_top);
    color: var(--main_text);
    font-weight: 500;
}

#open_discord{
    background-color: var(--open_discord_button);
    color: var(--header_text);
}

/*** /site_header properties ***/

/*** /site_main properties ***/
#site_main section{
    background-color: antiquewhite; /* ------------------------------------------- */
    border-bottom: 1px solid black;
}

.content{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.content img{
width: 58%;
}
.section_text.float_left{
    padding-left: 8rem;
    width: 42%;
    padding-top: 2rem;
}

.section_text h2{
    font-size: 2.8rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
}

.section_text p{
    line-height: 1.6rem;
}

.section_text.float_right{
    padding-right: 8rem;
    width: 42%;
    padding-top: 2rem;
}